@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2 style="color:#800000;">@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@

<address>
    <a href="https://hcmiu.edu.vn/bme">
        Biomedical Engineering Department,
    </a><br />
    International University - Vietnam National University<br />
    <a href="https://goo.gl/maps/2anGLQeFai52">Quarter 6, Linh Trung, Thu Duc Dist. Ho Chi Minh City, VIET NAM</a>  <br />
    <abbr title="Phone">Tel:</abbr>
    +84-8-372 442 70 Ext 3236 <br />
    <abbr title="Fax">Fax:</abbr>
    +84-8-372 442 71
</address>

<address>
    <strong>Email:</strong> <a href="mailto:bme2018@hcmiu.edu.vn">bme2018@hcmiu.edu.vn</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.129307041848!2d106.79945031537991!3d10.877768392252861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a415a9d221%3A0x550c2b41569376f9!2sInternational+University+-+Vietnam+National+University+HCM+City!5e0!3m2!1sen!2s!4v1528827418924" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
