@page
@model LocationModel
@{
    ViewData["Title"] = "Locations";
}
<h2 style="color:#800000;">@ViewData["Title"]</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <header><h3> Download Grab</h3> </header>
    <div class="dl--well clearfix">
        <div>
            <img class="img-responsive img--qr-code" src="https://www.grab.com/vn/wp-content/uploads/sites/11/2016/05/pax_vn.jpg">
            <a class="bottom-margin-sm" href="https://app.appsflyer.com/id647268330?pid=VN-Website-IOS-Install_Button&amp;c=Website_Download" onclick="ga('send', 'event', 'Website_Download_Page_En', 'Click', 'VN_iOS');" target="_blank"><img class="img-responsive" src="https://www.grab.com/vn/wp-content/uploads/sites/11/2016/05/app-store.png"></a>
            <a class="bottom-margin-sm" href="https://app.appsflyer.com/com.grabtaxi.passenger?pid=VN-Website-ADR-Install_Button&amp;c=Website_Download" onclick="ga('send', 'event', 'Website_Download_Page_En', 'Click', 'VN_Android');" target="_blank"><img class="img-responsive" src="https://www.grab.com/vn/wp-content/uploads/sites/11/2016/05/google-play.png"></a>
        </div><!-- /dl--stores -->
    </div>
    <div>
        <a href="https://www.grab.com/sg/blog/grab-google-maps/"><h3>Grab It On Google Maps</h3> </a>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/hynfmwTbtyR2">Turtle Lake</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62699.91724663903!2d106.713684549935!3d10.830829374807424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f369339942d%3A0x2e5c61408d70ef53!2sTurtle+Lake!5e0!3m2!1sen!2s!4v1529262330856" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/5RHSHc92GUQ2">Van Thanh</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1289.1135287618838!2d106.71613162574089!3d10.79874713895758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a8a0f59483%3A0x2a7c7c849492c08!2zTmjDoCBow6BuZyBWxINuIFRow6FuaA!5e0!3m2!1sen!2s!4v1529400489569" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/LarTWe1jhrn">International University</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7836.2586243930555!2d106.801639!3d10.877768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x550c2b41569376f9!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgVOG6vyAtIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRQLkhDTQ!5e0!3m2!1svi!2sus!4v1529400870773" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/xfnCDX9AngM2">Tan Son Nhat International Airport</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2280.2834340647446!2d106.66325603785809!3d10.815977639672951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752917efe79857%3A0x641f8f3953dc6a69!2zU8OibiBiYXkgVMOibiBTxqFuIE5o4bqldA!5e0!3m2!1svi!2s!4v1529401065217" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div> 
            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/UVUsTa3qdry">Liberty Central Saigon Riverside Hotel</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4851270068366!2d106.70402531487028!3d10.774107262182463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f442313aef7%3A0x12a210b723ba4e66!2sLiberty+Central+Saigon+Riverside+Hotel!5e0!3m2!1svi!2s!4v1529401380424" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm">
                <h3><a href="https://goo.gl/maps/12QCFcmxdwE2">Liberty Hotel Saigon Parkview</a> </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2771.5519963793063!2d106.69149110336127!3d10.767860397158792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3d8b05041f%3A0x87dd2023cd754dc1!2zTGliZXJ0eSBIb3RlbCBTYWlnb24gUGFya3ZpZXcsIFBo4bqhbSBOZ8WpIEzDo28sIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1529262250190" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            @*<div class="col-sm">
            One of three columns
        </div>*@
        </div>
    </div>

  

</body>
</html>
<h3></h3>
